.footer {
  display: inline-block;
  width: 100%;
  padding: 150px 40px 100px 40px;
  background-image: url("./BG_Footer.svg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
}

.img-logo {
  width: 50%;
  padding: 10px;
  vertical-align: bottom;
}

.logos {
  width: 350px;
  padding: 40px;
}

.footer-right {
  display: flex;
  padding: 40px;
  flex-wrap: wrap;
}

.footer-right-content {
  width: 350px;
  color: #fff;
}

.footer .link {
  color: #fff;
}
