@import url("https://fonts.googleapis.com/css?family=Roboto:300,300i,400,400i,500,500i,700,700i,900,900i");

:root {
  --color-white: #ffffff;
  --color-blue: #00b3cc;
  --color-green: #ccead9;
  --color-badge-blue: #ccf0f5;
  --color-text-placeholder: #9e9e9e;
  --color-1: rgb(94, 42, 126);
  --color-2: #8acb88;
  --color-3: #ccf0f5;
  --color-4: #eae8ff;
  --color-5: #a03189;
  --color-6: #a47cb6;
  --color-gray-background: #f5f5f5;
  --border: solid 1px #e6e6e6;
  --border-radius: 5px;
  --half-min-width: 400px;
  --frontpage-max-width: 1024px;
  --specialite-content-max-width: 1140px;
  --box-shadow: 0px 0px 12px rgba(0, 0, 0, 0.1);
  --box-shadow-appendice: 3px 2px 6px rgba(0, 0, 0, 0.1);
  --navbar-height: 88px;
  --top-overlap-first-section: 6rem;
  --gutter: 1.5rem;
}

a {
  color: inherit;
  text-decoration: underline;
}

p {
  margin-bottom: 1.5rem;
  margin-top: 0;
}

.List {
  list-style-type: none;
  padding-left: 0;
}

.ListItem {
  margin-bottom: 0.5rem;
}

h1 {
  font-size: 2.125rem;
  font-weight: 500;
  line-height: 2.5rem;
  letter-spacing: 0.25px;
  margin-bottom: 1.5rem;
  margin-top: 0;
}

h2 {
  margin-top: 0;
  font-size: 1.5rem;
  font-weight: 500;
  line-height: 2.125rem;
  letter-spacing: 0.25px;
}

h3 {
  font-size: 1.25rem;
  font-weight: 500;
  line-height: 1.5rem;
  letter-spacing: 0.15px;
  margin-bottom: 1.5rem;
  margin-top: 0;
}

h4 {
  font-size: 1rem;
  font-weight: 500;
  line-height: 1.5rem;
  letter-spacing: 0.15px;
  margin-bottom: 1.5rem;
  margin-top: 0;
}

h5 {
  font-size: 0.75rem;
  font-weight: 500;
  line-height: 1rem;
  letter-spacing: 0.25px;
  margin-bottom: 1rem;
  margin-top: 0;
}

.GraphBoxTitle {
  display: inline-block;
}

.withSubtitle {
  margin-bottom: 0.25rem;
}

.Btn {
  font-size: 0.875rem;
  line-height: 1.125rem;
  letter-spacing: 0.25px;
  font-weight: 500;
  text-transform: uppercase;
  border: solid 1px currentColor;
  border-radius: 0.3rem;
  padding: 0.5rem 1rem;
  text-decoration: none;
}

.Btn:hover {
  transition: background-color 0.3s;
  transition: color 0.3s;
  text-decoration: none;
}

.Btn-isPrimary {
  color: var(--color-5);
}

.Btn-isPrimary:hover {
  color: var(--color-white);
  background-color: var(--color-5);
}

.layout {
  background-color: #fbfcfd;
  z-index: -2;
  font-family: "Roboto", serif;
  font-size: 1rem;
  font-weight: 300;
}

.heading-5 {
  font-weight: 500;
  font-size: 24px;
  line-height: 32px;
}

.heading-6 {
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
  letter-spacing: 0.15px;
}

.large-text {
  margin-top: 0;
  font-size: 1.5rem;
  font-weight: 400;
  line-height: 2.125rem;
  letter-spacing: 0px;
}

.medium-text {
  font-weight: 400;
  font-size: 1.25rem;
  line-height: 1.625rem;
  letter-spacing: 0.4px;
}

.normal-text {
  font-weight: 300;
  font-size: 1rem;
  line-height: 1.25rem;
  letter-spacing: 0.25px;
}

.regular-text {
  font-size: 0.875rem;
  font-weight: 400;
  opacity: 0.8;
  line-height: 1.125rem;
  letter-spacing: 0.25px;
}

.justify-text {
  text-align: justify;
}

.center-text {
  text-align: center;
}

.caption-text {
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  letter-spacing: 0.25px;
  text-transform: uppercase;
}

.normal-text-bold {
  font-weight: 500;
  font-size: 1rem;
  line-height: 1.25rem;
  letter-spacing: 0.25px;
}

.normal-text-cap {
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  letter-spacing: 0.25px;
  color: #009640;
}

.button-text {
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  letter-spacing: 0.25px;
}

.button-text-bold {
  font-weight: 500;
  font-size: 14px;
  line-height: 18px;
  letter-spacing: 0.25px;
}

.small-text {
  font-weight: 400;
  font-size: 12px;
  line-height: 16px;
  letter-spacing: 0.25px;
}

.small-text-bold {
  font-weight: 500;
  font-size: 12px;
  line-height: 16px;
  letter-spacing: 0.25px;
}

.modebar {
  display: none !important;
}

.info-icon {
  font-size: 1.5rem;
  padding-left: 10px;
  vertical-align: bottom;
}

.lock-icon {
  font-size: 11px;
  padding-left: 3px;
  vertical-align: text-bottom;
}

/* .app0,
#react-entry-point,
#react-entry-point > div,
#_dash-app-content,
#_dash-app-content > div,
#main_content,
#main_page,
#selected_subpage > div #_dash-global-error-container,
#_dash-global-error-container > div,
#_dash-global-error-container > div > div > div,
#_dash-global-error-container > div > div:nth-child(2) {
  height: 100% !important;
} */

.color-secondary {
  color: #00b3cc !important;
}

.color-three {
  color: #ef7d00 !important;
}

.bg-secondary {
  background-color: #00b3cc !important;
  color: #fff;
}

.Link {
  text-decoration: underline;
  color: var(--color-5);
}

/** replace later by currentColor
**/
.Link:hover {
  color: var(--color-5);
  font-weight: 500;
}

.Link-isOnDarkBackground:hover {
  color: var(--color-white);
}

.Link-isOnDarkBackground {
  color: var(--color-white);
}

a:active {
  color: initial;
}

a:hover {
  color: inherit;
  cursor: pointer;
}

a.btn {
  text-decoration: none;
}

a.btn-lg {
  text-decoration: none;
}

.article {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.article-center {
  justify-content: center;
}

.article * {
  margin-bottom: 2rem;
}

/*
** Start BEM 
*/

/**
** Frontpage
**/

.FrontPageSection {
  display: flex;
  justify-content: center;
  padding: 6rem 0;
}

.FrontPageSectionFull {
  margin: 0 1.5rem;
  width: 100%;
}

.FrontPageSectionContainer {
  max-width: var(--frontpage-max-width);
  display: flex;
  flex-wrap: wrap;
  margin: -1.5rem 0;
  width: 100%;
}

.FrontPageAudienceDisplay {
  margin: 0 -1.5rem;
  display: flex;
  flex-wrap: wrap;
}

.FrontPageAudienceDisplayElem {
  margin: 0 1.5rem;
  flex: 1;
}

.FrontPageSectionPart {
  flex: 1;
  margin: 1.5rem;
}

.FrontPageSection-isColorWhite {
  background-color: var(--color-white);
}

.FrontPageSection-isBottomBoxShadowed {
  box-shadow: var(--box-shadow);
}

.FrontPageSection-hasAppendice {
  position: relative;
}

.FrontPageSectionAppendice {
  width: 7rem;
  height: 7rem;
  position: absolute;
  bottom: -3.5rem;
  background-color: inherit;
  box-shadow: var(--box-shadow-appendice);
  transform: rotate(45deg);
}

.FrontPageSection-isColor3 {
  background-color: var(--color-3);
}

.Box {
  background-color: #ffffff;
  padding: 1.5rem;
  flex: 1;
  display: flex;
  flex-direction: column;
  height: 100%;
}

.BoxContentWrapper {
  display: flex;
  align-items: center;
  justify-content: center;
}

.BoxArticle {
  margin-bottom: 2.5rem;
}

.BoxArticle-isInRow {
  margin: 1.25rem;
}

.BoxContent-isHalf {
  min-width: var(--half-min-width);
}

.Box-isHalf {
  max-width: calc(var(--specialite-content-max-width) / 2 - var(--gutter));
}

.Box-isBordered {
  border: var(--border);
  border-radius: var(--border-radius);
}

.Box-hasNoPadding {
  padding: 0;
}

.BoxRowWrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  margin: -1.25rem -1.25rem;
}

.BoxRow {
  margin-bottom: 2.5rem;
}

.NoData {
  color: var(--color-text-placeholder);
  font-weight: 500;
  font-size: 0.875rem;
}

.NoData > img {
  opacity: 0.4;
  height: 200px;
}

.Badge {
  background-color: var(--color-green);
  display: inline-block;
  padding: 0.25em 0.4em;
  font-size: 100%;
  line-height: 1;
  border-radius: var(--border-radius);
}

.Badge-isSecondary {
  background-color: var(--color-badge-blue);
}

/* 
** to align some items with badge
*/
.Badge-isInvisible {
  background-color: transparent;
}

.ContentWrapper {
  max-width: 1140px;
  margin: 0 1.5rem;
  padding-top: 1.5em;
}

.ContentWrapper-hasHeader {
  padding-top: 0;
  position: relative;
  top: -6rem;
}

.ContentLayoutWrapper {
  padding-left: 0;
}

@media (min-width: 768px) {
  .ContentLayoutWrapper {
    padding-left: 270px;
  }
  .HeaderLayoutWrapper {
    padding-left: 270px !important;
  }
  .HeaderWrapper {
    flex-wrap: nowrap !important;
  }
}

/*
** Section
*/
.Section {
  display: flex;
  flex-direction: column;
  margin-bottom: 2.25rem;
}

:target::before {
  content: "";
  display: block;
  height: 88px; /* fixed header height*/
  margin: -88px 0 0; /* negative fixed header height */
}

.SectionRow {
  flex: 1;
  display: flex;
  margin-bottom: 1.5rem;
  flex-direction: row;
  flex-wrap: wrap;
}

.SectionRow-withGutter {
  --postive-side-margin: calc(var(--gutter) / 2);
  margin-top: -1.5rem;
  margin-left: calc(var(--postive-side-margin) * -1);
  margin-right: calc(var(--postive-side-margin) * -1);
}

.SectionRow-withGutter > * {
  margin-top: 1.5rem;
  margin-left: calc(var(--gutter) / 2);
  margin-right: calc(var(--gutter) / 2);
}

/*
** Side Menu cusotm component
*/

.SideMenu {
  list-style-type: none;
  padding-top: 15px;
  position: sticky;
  z-index: 5;
  outline: none;
  width: 270px;
  text-transform: uppercase;
  overflow: hidden;
  float: left;
  top: 90px;
}

.SideMenu ul {
  list-style-type: none;
}

@media (max-width: 768px) {
  .SideMenu {
    display: none;
  }
}

.SideMenu ul a {
  color: #9e9e9e;
  letter-spacing: 0.25px;
  font-style: normal;
  font-weight: normal;
  text-decoration: none;
  font-size: 18px;
  line-height: 22px;
}

.SideMenu li {
  padding: 21px 16px 21px 0px;
}

.SideMenu .selected {
  box-shadow: -3px 0px 0px 0px #a03189 inset;
}

.SideMenu .selected a {
  color: #000000;
}

.CardBox {
  display: flex;
}

.CardBoxText {
  flex: 3;
}

.CardBoxTextContentLayout {
  display: flex;
  margin: 1.5rem -0.5rem;
  flex-wrap: wrap;
}

.CardBoxTextContentLayout > div {
  flex: 1;
  margin: 0.5rem;
  min-width: calc(var(--half-min-width) * 2 / 3);
}

.CardBoxImage {
  flex: 1;
  border-top-left-radius: var(--border-radius);
  border-bottom-left-radius: var(--border-radius);
}

.CardBoxImage-isCentered {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.UsageBoxRate {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: var(--color-blue);
  color: var(--color-white);
}

.RupturesBoxImage {
  background-color: var(--color-white);
}

.PublicationsBoxImage {
  background-color: var(--color-6);
}

.AdverseEffectRow {
  display: flex;
  justify-content: space-between;
}

.InternalLink {
  color: var(--color-blue);
  cursor: pointer;
}

.InternalLink:hover {
  color: var(--color-blue);
}

.ExternalLink {
  color: var(--color-5);
  cursor: pointer;
}

.ExternalLink:hover {
  color: var(--color-5);
}

.Header {
  min-height: 486px;
  color: #fff;
  width: 100%;
  display: flex;
  flex-direction: row;
  vertical-align: center;
}

.HeaderWrapper {
  padding: 3rem 1.5rem;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  flex-wrap: wrap;
  max-width: var(--specialite-content-max-width);
}

.HeaderLayoutWrapper {
  display: flex;
  padding-top: var(--navbar-height);
  padding-bottom: var(--top-overlap-first-section);
  align-items: center;
}

.Header-isSubstance {
  background-color: var(--color-5);
}

.Header-isSpecialite {
  background-color: var(--color-1);
}

.Header-isRupture {
  background-color: var(--color-3);
  color: #000;
}

.HeaderImg {
  height: 100%;
  margin-right: 1.5rem;
  margin-bottom: 1.5rem;
}

.HeaderImg > Img {
  height: 120px;
}

.Navbar {
  padding: 0 1.5rem;
  display: flex;
  flex-direction: row;
  justify-content: start;
  align-items: center;
  height: 88px;
  width: 100%;
  border-bottom: var(--border);
  background-color: #fff;
  position: fixed;
  top: 0;
  z-index: 10;
}

.NavbarItem {
  margin-right: 1.5rem;
  white-space: nowrap;
  font-weight: 400px;
  font-size: 14px;
  line-height: 18px;
  letter-spacing: 0.25px;
  text-decoration: none;
  color: #000;
}

#search-bar {
  margin-left: auto;
}

.Rupture {
}

.RuptureCell {
  padding: 1.5rem 0;
  display: flex;
  flex-direction: column;
  border-bottom: var(--border);
}

.RuptureCell:last-child {
  padding-bottom: 0;
  border-bottom: none;
}

.RuptureCellRow {
  display: flex;
  margin-bottom: 0.75rem;
}

.RuptureCellRow > div:first-child {
  flex: 0.75;
  font-weight: 400;
}

.RuptureCellRow > div:last-child {
  flex: 2.25;
}

.Stack {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.Stack > * {
  margin: 0.75rem 0;
}

.Stack-isCentered {
  align-items: center;
}

.Stack-isVerticalCentered {
  justify-content: center;
}

.Line {
  display: flex;
  justify-content: flex-start;
}

.Line-isCentered {
  justify-content: center;
}

.Line-isSpacedEvenly {
  flex-grow: 1;
  justify-content: space-evenly;
}

.GraphSelect {
  width: auto;
  border: var(--border);
  border-radius: var(--border-radius);
}

.GraphTitle {
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  letter-spacing: 0.25px;
}

.SectionTitle {
  font-size: 34px;
  font-style: normal;
  font-weight: 500;
  line-height: 40px;
  letter-spacing: 0.25px;
  text-align: left;
}

/** Fix > center graph with fixed size in plotly-container **/
.svg-container {
  margin: auto !important;
}

/**
** Explorer
**/

.ExplorerPageMainSection > img {
  width: 100%;
  max-height: 450px;
}

.ExplorerPageMainSection > h1 {
  text-align: center;
}

.ExplorerPageMainSection > P {
  text-align: center;
}

.ExploreDataItemImage {
  background-color: var(--color-6);
  display: flex;
  justify-content: center;
  align-items: center;
}

.ExploreDataItemImage > img {
  height: 150px;
}

.ModaliteItem {
  margin-bottom: 3rem;
}

@media (max-width: 1024px) {
  .ExploreDataItemImage {
    display: none;
  }
  .ExploreDescriptionImage {
    display: none;
  }
}

/**
** Footer
**/

.Footer {
  /* background-image: url("./BG_Footer.svg"); */
  /* background-position: center;
  background-repeat: no-repeat; */
  /* background-size: cover; */
  background-color: black;
  color: var(--color-white);
}

.FooterLinkContainer {
  padding: 0;
  list-style-type: none;
}

.FooterLogo {
  height: 4rem;
  margin-right: 1rem;
  margin-top: 1rem;
}

.FooterLogo > img {
  height: 100%;
}

.FooterLogoContainer {
  margin-top: -1rem;
}

.FooterLinkContainer > li {
  margin: 0.5rem 0;
}

.EffetIndesirableBox {
  --content-width: calc(
    var(--specialite-content-max-width) - (var(--gutter) * 3)
  );
  min-width: calc(var(--content-width) / 3);
  flex: 1 0 29%;
}

.EffetIndesirableBox:hover {
  background-color: var(--color-5);
  transition: background-color 0.5s;
}

.EffetIndesirableBox:hover .EffetIndesirableBoxLink {
  color: var(--color-white);
}

.EffetIndesirableBox:hover .EffetIndesirableBoxTitle {
  color: var(--color-white);
}

.EffetIndesirableBoxTitle {
  max-width: 200px;
  text-align: center;
}

.TooltipInner {
  background-color: var(--color-white);
  box-shadow: var(--box-shadow);
  color: black;
  padding: 1rem;
  max-width: 450px;
}

.TooltipArrow::before {
  border-top-color: var(--color-white) !important;
  border-bottom-color: var(--color-white) !important;
}

.Tooltip {
  opacity: 1 !important;
  --border-radius: 5px !important;
}

.TooltipInner h4 {
  margin-bottom: 0.5rem;
  text-align: left;
}

.TooltipInner P {
  margin-bottom: 0.5rem;
  text-align: left;
}
/*
* Hack - make opacity of wrapper equals to Tooltip
*/
.tooltip.show {
  opacity: inherit;
}

.Icon {
  margin-left: 0.25rem;
  font-size: 1rem;
}

.dash-graph {
  flex-grow: 1;
}

.GridElem-1 {
  flex: 1 0 90%;
}

.GridElem-2 {
  flex: 1 0 45%;
}

.GridElem-3 {
  flex: 1 0 29%;
}

.EffetIndesirableSelect {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  width: 100%;
  background-color: var(--color-5);
  padding: 1rem;
  border-top-left-radius: var(--border-radius);
  border-top-right-radius: var(--border-radius);
}

.EffetIndesirableSelectLabel {
  display: flex;
  align-items: center;
  color: var(--color-white);
}

.EffetIndesirableSelectLabelSpan {
  margin-left: 1.5rem;
}

.EffetIndesirableSelectLabelImg {
  height: 50px;
}

.EffetIndesirableSelectDropdown {
  min-width: 15rem;
}

.EffetsIndesirablesContent {
  padding: 1.5rem;
  background-color: var(--color-gray-background);
  border-left: var(--border);
  border-right: var(--border);
  border-bottom: var(--border);
  border-radius: var(--border-radius);
}

.mentions {
  margin: auto;
  margin-bottom: 100px;
  padding: 40px;
  background-color: white;
  max-width: var(--frontpage-max-width);
  border: 1px solid #e6e6e6;
  box-sizing: border-box;
}

#dash-side-effect-hidden-div {
  display: none;
}
