@import url("https://fonts.googleapis.com/css?family=Roboto:300,300i,400,400i,500,500i,700,700i,900,900i");

:root {
  --color-white: #ffffff;
  --color-1: rgb(94, 42, 126);
  --color-3: #ccf0f5;
  --border: solid 1px #e6e6e6;
}

.box {
  padding: 1.5rem 1.5rem 3rem 1.5rem;
}

.btn {
  height: 2.25rem;
}

.btn-outline-primary {
  color: var(--color-1);
  border: solid 1px var(--color-1);
}

.btn-outline-primary:hover {
  color: var(--color-white);
  background-color: var(--color-1);
  transition: 0.5s background-color;
  border: solid 1px var(--color-1);
}

.layout {
  background-color: #fbfcfd;
  z-index: -2;
  font-family: "Roboto", serif;
  font-size: 1rem;
  font-weight: 300;
}

.heading-1 {
  font-weight: 300;
  font-size: 96px;
  line-height: 116px;
  letter-spacing: 0.25px;
}

.heading-2 {
  font-weight: 300;
  font-size: 60px;
  line-height: 80px;
  letter-spacing: 0.25px;
}

.heading-3 {
  font-weight: 400;
  font-size: 48px;
  line-height: 68px;
  letter-spacing: 0.25px;
}

.heading-4 {
  font-weight: 500;
  font-size: 34px;
  line-height: 40px;
  letter-spacing: 0.25px;
}

.heading-5 {
  font-weight: 500;
  font-size: 24px;
  line-height: 32px;
}

.heading-6 {
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
  letter-spacing: 0.15px;
}

.large-text {
  font-weight: 400;
  font-size: 24px;
  line-height: 30px;
  letter-spacing: 0.25px;
}

.medium-text {
  font-weight: 400;
  font-size: 20px;
  line-height: 26px;
  letter-spacing: 0.4px;
}

.caption-text {
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  letter-spacing: 0.25px;
  text-transform: uppercase;
}

.normal-text {
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  letter-spacing: 0.25px;
}

.normal-text-bold {
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  letter-spacing: 0.25px;
}

.normal-text-cap {
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  letter-spacing: 0.25px;
  color: #009640;
}

.button-text {
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  letter-spacing: 0.25px;
}

.button-text-bold {
  font-weight: 500;
  font-size: 14px;
  line-height: 18px;
  letter-spacing: 0.25px;
}

.small-text {
  font-weight: 400;
  font-size: 12px;
  line-height: 16px;
  letter-spacing: 0.25px;
}

.small-text-bold {
  font-weight: 500;
  font-size: 12px;
  line-height: 16px;
  letter-spacing: 0.25px;
}

.modebar {
  display: none !important;
}

.info-icon {
  font-size: 1.5rem;
  padding-left: 10px;
  vertical-align: bottom;
}

.lock-icon {
  font-size: 11px;
  padding-left: 3px;
  vertical-align: text-bottom;
}

/* .app0,
#react-entry-point,
#react-entry-point > div,
#_dash-app-content,
#_dash-app-content > div,
#main_content,
#main_page,
#selected_subpage > div #_dash-global-error-container,
#_dash-global-error-container > div,
#_dash-global-error-container > div > div > div,
#_dash-global-error-container > div > div:nth-child(2) {
  height: 100% !important;
} */

.box-border {
  box-shadow: 1px 1px 2px 2px rgba(0, 0, 0, 0.24);
  border-radius: 3px;
  background-color: #fafafa;
}

.box {
  box-shadow: 1px 1px 2px 2px rgba(0, 0, 0, 0.24);
  border-radius: 3px;
  background-color: #fafafa;
  margin-bottom: 24px;
  padding: 1rem;
  width: 100%;
}

.color-secondary {
  color: #00b3cc !important;
}

.color-three {
  color: #ef7d00 !important;
}

.bg-secondary {
  background-color: #00b3cc !important;
  color: #fff;
}

a {
  text-decoration: underline;
}

a:active {
  color: initial;
}

a:hover {
  color: inherit;
  cursor: pointer;
}

a.btn {
  text-decoration: none;
}

a.btn-lg {
  text-decoration: none;
}

/* Fix dash graph wrapper div to graph default height  */
.dash-graph {
  height: 450px;
}

#stack-bar.dash-graph {
  height: 300px;
}

.stacked {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.stacked * {
  margin-bottom: 15px;
}

.article {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.article-center {
  justify-content: center;
}

.article * {
  margin-bottom: 2rem;
}

.fp-section {
  display: flex;
  padding-top: 30px;
  padding-bottom: 30px;
}

.fp-left .fp-half {
  justify-content: flex-end;
}

.fp-half {
  padding-top: 30px;
  padding-bottom: 30px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  width: 50%;
}

.fp-half img {
  max-height: 450px;
  max-width: 100%;
}

.fp-half:last-child {
  justify-content: flex-start;
}

.fp-half.with-p-y {
  padding-left: 30px;
  padding-right: 30px;
}

.fp-wrapper {
  max-width: 570px;
  margin-left: 30px;
}

.fp-content * {
  margin-bottom: 25px;
}

.fp-full {
  max-width: 1140px;
  margin: 0 auto;
  padding: 30px;
}

.title-center {
  width: 100%;
  text-align: center;
}

.features {
  display: flex;
}

.feature:first-child {
  margin: 0;
  margin-right: 25px;
}

.feature {
  margin: 0 25px;
}

.feature:last-child {
  margin: 0;
  margin-left: 25px;
}

.title-standalone {
  margin-bottom: 50px;
}

.fp-section-1 {
  background-color: var(--color-white);
}

.fp-section-3 {
  background-color: var(--color-3);
}

.border {
  border: var(--border);
  border-radius: 5px;
}

.content * {
  margin-bottom: 15px;
}
